<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Carousel</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a
            [routerLink]="['']"
            class="nav-link">
            Home
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a
            [routerLink]="['admin']"
            class="nav-link">
            Dashboard
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>