<form
  [formGroup]="userForm"
  (submit)="sendForm()">
  <h2>Preencha seus dados</h2>
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      [class.is-invalid]="userForm.get('nome').errors && !userForm.get('nome').pristine"
      placeholder="Nome"
      formControlName="nome">
      <app-error-message [control]="userForm.get('nome')" [submitService]="formSubmitService"></app-error-message>
  </div>
  <div class="form-group">
    <input
      type="email"
      class="form-control"
      placeholder="E-mail"
      formControlName="email">
      <app-error-message [control]="userForm.get('email')" [submitService]="formSubmitService"></app-error-message>
  </div>
  <div class="form-group">
    <input
      type="tel"
      class="form-control"
      placeholder="Telefone"
      formControlName="telefone">
  </div>
  <div class="form-group">
    <input
      type="file"
      class="form-control"
      formControlName="arquivo"
      (change)="onFileChange($event)">
      <app-error-message [control]="userForm.get('arquivo')" [submitService]="formSubmitService"></app-error-message>
  </div>
  <div class="form-group">
    <input
      type="file"
      class="form-control"
      formControlName="arquivo2"
      (change)="onFileChange($event)">
  </div>

  <app-languages [userForm]="userForm"></app-languages>
  
  <div class="form-group">
    <button class="btn btn-primary btn-block">
      Enviar
    </button>
  </div>
</form>